option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'production'
    getProducts: 'https://xx27wn00s1.execute-api.eu-west-1.amazonaws.com/dev/products'
    getProductById: 'https://b05gi8r9c3.execute-api.eu-west-1.amazonaws.com/dev/products'
    createProduct: 'https://u51ud60rih.execute-api.eu-west-1.amazonaws.com/dev/products'
    cart: 'http://thrvrce-cart-api-develop.eu-west-1.elasticbeanstalk.com/api/profile/cart'
